/*tags*/

html{
  
}
header{
  justify-content: space-around;
  align-items: center;
    
  align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
  order: auto;
}
footer{
  background-color: black;
  color: white;
  font-size: 30px;

  justify-content: space-around;
  align-items: center;
    
  align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
  order: auto;

  /* height: 30vh; */
}
/* footer:nth-child(1n){
  margin: 20px 0 20px 0;  
} */


h1{
  font-size: 30px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 20px;
}
ul{
  list-style: none;
}



/*classes*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.companyName{
  text-align: left;
}
.companyName > h1{
  margin: 0px;
}
.heroSection{
  width: 100vw;
  height: 80vh;
  background-color: #2B2523;
}


.logo{
  width: 100px;
  height: 100px;
}

.contactIcons{
  width: 100vw;
  justify-content: space-around;
  align-items: center;
    
  align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
  order: auto;
}





.menu{
  position: absolute;
  background-color: #F9EEB3;
  animation-duration: 1s;
  animation-name: slidein;
  text-align: center;
  z-index: 2;
}
.menuContainer{
  filter: none;
  width: 100px;
}

.footerDivider{
  width: 90vw; 
  height: 4px;
  background-color: grey;
  margin: 20px 0 20px 0;    
}

.category:hover{
  background-color: #f2efc7;
}


.serviceIcons.midtop{
  justify-content: space-around;
  align-items: center;
    
  align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
  order: auto;
}
.serviceIcons.midbot{
  justify-content: space-around;
  align-items: center;
    
  align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
  order: auto;
}
.serviceIcons{
  color: white;
  animation-duration: 2s;
  animation-duration: infinite;
  animation-name: growAndShrink;
}
.serviceIcon:hover{
  font-size: 8em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: growAndShrink;
}
.computerIcon{
  color: white;
  font-size: 10em;
}
.serviceIcon{
  position: relative;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes growAndShrink{
  0%{
    font-size: 5em;
  }
  50%{
    font-size: 10em;
  }
  100%{
    font-size: 5em;
  }
}